# node.js modules
node_modules/

# vscode
.vscode/

# macOS
.DS_Store

# Grunt output
/server/out
/client/out

# Typings
/server/typings
/client/typings

# Committing while editing in Vim
*.swp

# tsc dumps
.tscache/
.baseDir.ts
