@import 'palette.scss';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,300i,500');

$font-primary: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
$font-secondary: Lato, Arial, sans-serif;

* {
    margin: 0 0;
}

// Basic to-be-extended styles section

button:active {
    transform: scale(0.9);
}
button {
    transition: all 0.1s ease-in-out;
}

.fullwidth {
    width: 100%;
}

.colored-bg[bg="green"] {
    background-color: palette(Green, 800);
    color: paletteText(Green, 800);
}

.colored-bg[bg="orange"] {
    background-color: palette(Orange, 900);
    color: paletteText(Orange, 900);
}

.colored-bg[bg="purple"] {
    background-color: palette(Purple, 800);
    color: paletteText(Purple, 800);
}

.colored-bg[bg="blue"] {
    background-color: palette(Blue, 900);
    color: paletteText(Blue, 900);
}

.colored-bg[bg="red"] {
    background-color: palette(Red, 900);
    color: paletteText(Red, 900);
}

.colored-bg[bg="indigo"] {
    background-color: palette(Indigo, 800);
    color: paletteText(Indigo, 800);
}

.clickable:hover {
    cursor: pointer;
}

.parallax-bg {
    background-attachment: fixed;
}

// Responsive Design section

// Mobile (420px accomodates iPhone 6 Plus, which is 414px across)
@media only screen and (max-width: 420px) {

}

// Element-based styles section

* {
    box-sizing: border-box;
}

body {
    background-color: #ddd;
}

NavBar, NavButton, MainIcon,
Tabs, Tab,
Loading,
Footer,
Card,
Overlay {
    display: flex;
    font-family: $font-primary;
}

NavBar {
    @extend .fullwidth;
    justify-content: space-between;
    align-items: center;
    background-color: palette(Indigo, 600);
    padding: 0 10px;
    flex-wrap: wrap;
}

NavButtons {
    display: flex;
    justify-content: flex-end;
}
NavButton {
    @extend button;
    @extend .clickable;
    color: paletteText(Indigo, 800);
    background-color: palette(Indigo, 800);
    padding: 15px 25px;
    font-size: 25px;
}
NavButton:hover {
    background-color: palette(Indigo, 900);
}

MainIcon {
    font-size: 30px;
    font-weight: 200;
    color: paletteText(Indigo, 600);
}
MainIcon > b {
    font-weight: 400;
    align-self: flex-end;
}

Tabs {
    justify-content: center;
}
Tab {
    flex-direction: row;
    flex-wrap: wrap;
}

Landscape {
    @extend .colored-bg;
    width: 100vw;
    padding: 70px 40px;
    display: flex;
    flex-direction: column;
    font-size: 45px;
    box-sizing: border-box;
}
Landscape[size="huge"] {
    padding: 140px 80px;
}
Landscape > Title {
    display: block;
    font-size: 45px;
    font-weight: 300;   
}
Landscape[size="huge"] > Title {
    font-size: 60px;
}
Landscape > Text {
    font-size: 20px;
}
Landscape[size="huge"] > Text {
    font-size: 30px;
}
Landscape > Cite {
    align-self: flex-end;
    margin-top: 20px;
}
Landscape[align="center"] > * {
    text-align: center;
}

Cite {
    font-size: 10px;
}

Repeater {
    display: none;
}

Card {
    @extend .colored-bg;
    padding: 15px 15px;
    flex-direction: column;
    border-radius: 2px;
    box-shadow: 2px 2px 3px gray;
}
Card > Title {
    display: block;
    font-size: 35px;
    padding: 10px 10px 5px 10px;
}
Card > Text {
    font-size: 14px;
    padding: 10px 10px;
}

Actions {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    padding: 5px 5px;
}
Card > Actions {
    align-self: flex-end;
}
Landscape > Actions {
    margin-top: 40px;
}
Actions > Action {
    @extend .clickable;
    transition: all 0.2s ease-in-out;
    padding: 15px 15px;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 2px;
}
Actions > Action:hover {
    background-color: rgba(0, 0, 0, 0.15);
}
Tab[tabname="browse"] > Card {
    margin: 20px 20px;
    max-width: 400px;
}

Overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    display: flex;
}
Overlay[overlay-state="hidden"] {
    opacity: 0;
    visibility: hidden;
}
Overlay[overlay-state="visible"] {
    opacity: 1;
}
Overlay[overlay-state="hidden"] > Card {
    transform: scale(0.8);
} 
Overlay[overlay-state="visible"] > Card {
    transform: scale(1);
} 
Overlay > Card {
    background-color: #eee;
    color: #111;
    min-width: 430px;
    min-height: 300px;
    max-width: 80%;
    box-shadow: none;
    align-self: center;
    transition: all 0.4s ease;
}
Overlay > Card > Title {
    border-bottom: gray 1px;
}
Overlay > Card > Text > h3 {
    font-size: large;
    margin-top: 10px;
}
Overlay > Card > Text > p {
    padding: 5px;
    margin-bottom: 4px;
}
Overlay > Card > Text > hr {
    margin-top: 15px;
}

Badge {
    @extend .colored-bg;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 3px;
    display: flex;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}
Card > Badge {
    margin-right: auto;
    margin-left: 7px;
}

FormElement {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
FormElement * {
    display: flex;
}
FormElement > Left {
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
}
FormElement Tip {
    color: #555;
    font-style: italic;
}
FormElement h1 {
    margin-top: 20px;
}

#calc-form {
    padding: 40px;
}
